
body {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-areas: "header"
                       "container"                       
                        "footer";
    grid-template-rows: 10% 1200px 10%;
    margin: 0px;
    padding: 0px;
}


header 
{
    font-family: sans-serif;
    grid-area: header;
    background-color: #579c87;
    color: #fdcb46;    
    font-size: 30px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}


container
{
    
    grid-area: container;
    background-color: #ffffff;
    
    }
h2{
    text-align: center;
    font-family: sans-serif;
}

.menu-page
{
    background-color: #fcdfdb;
    width: 1185px;
    display: block;
    justify-content: center;
    
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

.platAndPrice{
    display: flex;
    justify-content: space-between;
}

spam{
    float: right;
}

p{
    float: left;
}

footer
{   
    font-family: sans-serif;
    grid-area: footer;
    background-color: #579c87;
    color: #fdcb46;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.contact{
    float: left
    }

.mentionLeg{
    float: right
 }    
        


a
{
    margin-top: 50px;
    text-decoration: none;
    color: #fdcb46;

}







